
section.searchbar {
  background-color: #e1eef6;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
}

section.searchbar.reduce-height {
  height: 25%;
}

section.searchbar div {
  -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 30%;
}

section.results {
  height: auto;
  width: 100%;
  padding: 30px 0;
}

h1, input, button {
  margin: 0 auto;
  width: 100%;
  display: block;
  margin-top: 20px;
  text-align: center;
  font-family: monospace;
  color: #ff5f2e;
}

button {
  background-color: #004e66;
}

h1 {
  margin-top: 0;
}

ul {
  list-style: none;
}

li div:hover {
  background-color: rgba(0,0,0,0.1);
}

li div {
  height: 80px;
  background-color: #fcbe32;
  padding: 20px;
  word-wrap: break-word;
  word-break: break-word;
  cursor: pointer;
  margin-bottom: 15px;
}
